* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Definizione delle variabili per i colori del tema chiaro */
:root {
  --background-color-light: #ffffff;
  --text-color-light: #000000;
}

/* Definizione delle variabili per i colori del tema scuro */
@media (prefers-color-scheme: dark) {
  :root {
    --background-color-dark: #000000;
    --text-color-dark: #ffffff;
  }
}

/* Gradient di sfondo per il tema chiaro */
body {
  background-image: linear-gradient(
    90deg,
    rgba(182, 182, 219, 1) 0%,
    rgba(236, 242, 244, 1) 100%
  ); /* Cambia i colori qui */
  color: var(--text-color-light); /* Imposta il colore del testo */
}

/* Gradient di sfondo per il tema scuro */
.dark-mode {
  background-image: linear-gradient(
    90deg,
    rgba(205, 180, 217, 1) 0%,
    rgba(78, 64, 84, 1) 29%,
    rgba(0, 0, 0, 1) 52%
  ); /* Cambia i colori qui */
  color: var(--text-color-dark); /* Imposta il colore del testo */
}

span {
  font-size: 20px;
}

.cont {
  padding: 50px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 600px;
  margin-right: auto;
  margin-left: auto;
  padding: 30px;
  background-color: #ffffff45;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  margin-bottom: 10px;
}

input[type='text'] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

li:last-child {
  border-bottom: none;
}

.task-actions button {
  margin-left: 10px;
}

.cont-btn {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

button {
  background-color: #342c2c;
}
